<%+ extend('layout') %>
    <%+ section('content') %>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="#005A77">
                                <a class="btn pull-right" data-background-color="#005A77" href="/department-add">Add Department</a>
                                <h4 class="title">Department List</h4>
                                <p class="category">Here is a list of all department in cambodia! Total : <%= departments.size %></p>
                            </div>
                            <div class="card-content table-responsive">
                                <table class="table">
                                    <thead class="text-primary">
                                        <th>Department (EN)</th>
                                        <th>Department (KH)</th>
                                        <th>Located in University</th>
                                        <th style="width: 5%;text-align: center">Edit</th>
                                        <th style="width: 5%;text-align:center">Delete</th>
                                    </thead>
                                    <tbody>
                                    <% departments.forEach((department)=>{ %>

                                        <tr>
                                            <td>
                                                <%= department.data().name_en %>
                                            </td>
                                            <td>
                                                <%= department.data().name_kh %>
                                            </td>
                                            <td>
                                                0
                                            </td>
                                            <td align="center">
                                                <a href="/department-edit/<%= department.data().id %>">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                            </td>
                                            <td align="center">
                                                <a href="/department-delete/<%= department.data().id %>">
                                                    <i class="material-icons">delete_forever</i>
                                                </a>
                                            </td>
                                        </tr>
                        
                                        <%}) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%+ endSection %>