<%+ extend('layout') %>
    <%+ section('content') %>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="#005A77">
                                <a class="btn pull-right" data-background-color="#005A77" href="/university-add">Add University</a>
                                <h4 class="title">University List</h4>
                                <p class="category">Here is a list of all university in cambodia !</p>
                            </div>
                            <div class="card-content table-responsive">
                                <table class="table">
                                    <thead class="text-primary">
                                        <th>University (EN)</th>
                                        <th>University (KH)</th>
                                        <th>Departments</th>
                                        <th>Webiste</th>
                                        <th style="width: 5%;text-align: center">Edit</th>
                                        <th style="width: 5%;text-align:center">Delete</th>
                                    </thead>
                                    <tbody>
                                        <% universitys.forEach((university)=>{ %>
                                            <tr>
                                                <td><%= university.data().name_en %></td>
                                                <td><%= university.data().name_kh %></td>
                                                <td align="center">0</td>
                                                <td><a href="<%=university.data().website %>"><%= university.data().website %></a></td>
                                               
                                                <td align="center">
                                                    <a href= "/university/edit/<%=university.data().id %>">
                                                        <i class="material-icons">edit</i>
                                                    </a>
                                                </td>
                                                <td align="center">
                                                    <a href="#">
                                                        <i class="material-icons">delete_forever</i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%+ endSection %>